/* 게시글 컨테이너 */
#post-container {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 게시글 제목 */
#post-title,
#edit-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);

    line-height: normal;
}

#edit-title {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
}

/* 게시글 내용 */
#post-content,
#edit-content {
    padding: 5px;
    font-family: inherit;
    font-size: 1.2em;
    line-height: 1.6;
    color: #444;
    width: 100%;
    box-sizing: border-box;
}

#edit-content {
    display: none;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    resize: vertical;

    color: #333;
}

/* 에러 메시지 */
#error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#edit-button,
#save-button,
#delete-button {
    display: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-button {
    background-color: #4caf50;
}

#save-button {
    background-color: cornflowerblue;
}

#delete-button {
    background-color: #f44336;
}
